body {

    margin: 0 auto;
    max-width: 1200px;
    border: 2px solid greenyellow;

}

header {
    background-color: aquamarine;
  
}
h2 {
    background-color: bisque;
    color: blue;
    font-size: 80px;
    font-family: monospace;
}

h3 {
    background-color: bisque;
    color: brown;
    font-size: 70px;
}

img{
    display: block;
    margin: 0 auto;
    width: 60%;
  
}
