body {

    margin: 0 auto;
    max-width: 1200px;
    border: 2px solid greenyellow;

}

header {
    background-color: aquamarine;
    border: 4px solid brown;
  
}
h2 {
    background-color: bisque;
    color: blue;
    font-size: 40px;
    font-family: monospace;
}

h3 {
    background-color: bisque;
    color: brown;
    font-size: 30px;
}

img{
    display: block;
    margin: 0 auto;
    width: 80%;
    
}
